$red-color: #c02626;
$red-color-blur: #c02626b6;
$prop-color: rgb(156, 98, 22);
$tag-color: #0e2db9;
$cmt-color: #6d6c6c;
$code-color: #e0e0e0;
$attr-color: #529c23;


@mixin breakpoint($point) {
  @if $point==small {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $point==tablet {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $point==bigtab {
    @media (max-width: 1150px) {
      @content;
    }
  }
}

/* post */

.post {
  font: 17px/1.7 Arial;
  display: block;
  margin: 0 1em;
  padding: 1em;
  text-align: justify;

  &-title {
    text-align: center;
    font-size: 40px;
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    a {
      display: block;
      width: 40%;
      text-align: center;
      color: #fff;
      background-color: $red-color-blur;
      text-decoration: none;
      padding: 10px 15px;
    }
  }
  
  @include breakpoint(small) {
    font: 15px/1.5 Arial;
    margin: 0;
    padding: 0;

    &-title {
      font-size: 25px;
    }
  }
}

/* article */

.article {
  margin-bottom: 1em;

  &-title {
    font-size: 25px;
    color: $red-color;
  }

  &-main {
    padding-left: 1em;

    &.dual-col {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @include breakpoint(bigtab) {
      &.dual-col {
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  @include breakpoint(small) {

    &-main {
      padding: .5rem;
    }

    &-title {
      font-size: 20px;
    }
  }
}

ul>li {
  margin: 10px 0;
}

figure {
  margin: 1em;

  &>img {
    max-width: 90%;
    display: block;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px #a7a7a7;
  }

  figcaption {
    margin-top: 5px;
    text-align: center;
    font-style: italic;
  }

  &.compare {
    &>div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-family: monospace;
  
      &>img {
        display: block;
        max-width: 45vw;
        padding: 15px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px 1px #a7a7a7;
      }
    }
  
    @include breakpoint(small) {
      width: 100%;
  
      &>div {
        flex-direction: column;
        align-items: center;
        width: 100%;
  
        &>img {
          display: block;
          max-width: 90vw;
          margin: 15px;
        }
      }
    } 
  }

}



/* table */
table {
  width: 100%;
}


.table {
  border: 1px solid rgb(194, 178, 178);
  border-collapse: collapse;

  th {
    @extend .table;
    text-align: center;
    background-color: #b39b18;
  }

  td {
    @extend .table;
    text-align: justify;
    padding: 5px 10px;

    &:nth-child(1) {
      text-align: center;
    }
  }
}

/* try it frame */
.try-it {
  display: flex;
  flex-direction: row;
  justify-content: start;

  @include breakpoint(tablet) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


/* code */

.code {
  background-color: $code-color;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: monospace;
  overflow-x: auto;

  &.try {
    width: 45%;
    padding: 1em;
  
    @include breakpoint(tablet) {
      width: 100%;
    }
  }

  &.html-css {
    display: flex;
    flex-direction: row;
    overflow: auto;


    h2 {
      text-align: center;
    }

    &>div {
      width: 50%;
    }

    @include breakpoint(bigtab) {
      flex-direction: column;

      &>div {
        width: 100%;
      }
    }
  }
}

/* result */
#try {
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  font-size: .6rem;
  margin: auto 10px;

  .btn {
    display: block;
    margin-bottom: 10px;
    border-top: 20px solid transparent;
    border-left: 40px solid #3f3f3fda;
    border-bottom: 20px solid transparent;
    cursor: pointer;

    &:hover {
      border-left: 40px solid #313131;
    }
  }

  @include breakpoint(tablet) {
    width: 100%;
    flex-direction: row;
    margin: 10px;
    .btn {
      margin: 0 0 0 10px;
    }
  }
}

.result {
  width: 45%;
  display: block;
  padding: 1em;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-out;

  img {
    display: block;
    width: 100%;
    box-shadow: 0 0 3px 0 #5c5858a8;
    user-select: none;
  }

  @include breakpoint(tablet) {
    width: 100%;
    display: none;
  }
}

.visible {
  display: initial;
  visibility: visible;
  opacity: 1;
}

/* html tag */

.html {
  color: $red-color;
}

.html::before, .html::after {
  color: $tag-color;
  content: "<";
}

.html::after {
  content: ">";
}

.attr {
  color: $attr-color;
}

.cmt {
  color: $cmt-color;
}

/* css */

.prop {
  color: $prop-color;
}

.value {
  color: $tag-color;
}