h1 {
  text-align: center;
}

ol {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

/* post */
.post {
  font: 17px/1.7 Arial;
  display: block;
  margin: 0 1rem;
  padding: 1rem;
  text-align: justify;
}

.post-title {
  text-align: center;
  font-size: 40px;
}

.post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-footer a {
  display: block;
  width: 40%;
  text-align: center;
  color: #fff;
  background-color: #c02626b6;
  text-decoration: none;
  padding: 10px 15px;
}

.post-footer a:hover {
  background-color: #c02626;
}

@media (max-width: 768px) {
  .post {
    font: 15px/1.5 Arial;
    margin: 0;
    padding: 0 1rem;
  }
  .post-title {
    font-size: 25px;
  }
}

/* article */
.article {
  margin-bottom: 1em;
}

.article-title {
  font-size: 25px;
  color: #c02626;
}

.article-main {
  padding-left: 1em;
}

.article-main.dual-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1150px) {
  .article-main.dual-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .article-main {
    padding: .5rem;
  }
  .article-title {
    font-size: 20px;
  }
}

ul > li {
  margin: 10px 0;
}

figure {
  margin: 1em;
}

figure > img {
  max-width: 90%;
  display: block;
  margin: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px #a7a7a7;
          box-shadow: 0 0 5px 1px #a7a7a7;
}

figure figcaption {
  margin-top: 5px;
  text-align: center;
  font-style: italic;
}

figure.compare > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: monospace;
}

figure.compare > div > img {
  display: block;
  max-width: 45vw;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px #a7a7a7;
          box-shadow: 0 0 5px 1px #a7a7a7;
}

@media (max-width: 768px) {
  figure.compare {
    width: 100%;
  }
  figure.compare > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  figure.compare > div > img {
    display: block;
    max-width: 90vw;
    margin: 15px;
  }
}

/* table */
table {
  width: 100%;
}

.table, .table th, .table td {
  border: 1px solid #c2b2b2;
  border-collapse: collapse;
}

.table th {
  text-align: center;
  background-color: #b39b18;
}

.table td {
  text-align: justify;
  padding: 5px 10px;
}

.table td:nth-child(1) {
  text-align: center;
}

/* try it frame */
.try-it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media (max-width: 900px) {
  .try-it {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* code */
.code {
  background-color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: monospace;
  overflow-x: auto;
}

.code.try {
  width: 45%;
  padding: 1em;
}

@media (max-width: 900px) {
  .code.try {
    width: 100%;
  }
}

.code.html-css {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
}

.code.html-css h2 {
  text-align: center;
}

.code.html-css > div {
  width: 50%;
}

@media (max-width: 1150px) {
  .code.html-css {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .code.html-css > div {
    width: 100%;
  }
}

/* result */
#try {
  width: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  font-size: .6rem;
  margin: auto 10px;
}

#try .btn {
  display: block;
  margin-bottom: 10px;
  border-top: 20px solid transparent;
  border-left: 40px solid #3f3f3fda;
  border-bottom: 20px solid transparent;
  cursor: pointer;
}

#try .btn:hover {
  border-left: 40px solid #313131;
}

@media (max-width: 900px) {
  #try {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px;
  }
  #try .btn {
    margin: 0 0 0 10px;
  }
}

.result {
  width: 45%;
  display: block;
  padding: 1em;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.result img {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 0 3px 0 #5c5858a8;
          box-shadow: 0 0 3px 0 #5c5858a8;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 900px) {
  .result {
    width: 100%;
    display: none;
  }
}

.visible {
  display: initial;
  visibility: visible;
  opacity: 1;
}

/* html tag */
.html {
  color: #c02626;
}

.html::before, .html::after {
  color: #0e2db9;
  content: "<";
}

.html::after {
  content: ">";
}

.attr {
  color: #529c23;
}

.cmt {
  color: #6d6c6c;
}

/* css */
.prop {
  color: #9c6216;
}

.value {
  color: #0e2db9;
}

.overview {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.greeting {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
  background: #fff url(../res/img/banner.png) no-repeat center/cover;
}

.greeting h1 {
  display: block;
  background-color: #2258afb9;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px 15px;
  color: #fff;
}

.greeting .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  position: absolute;
  top: 55%;
  left: 17%;
}

.greeting .btn-group a {
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin: 10px;
  color: #fff;
  background-color: #c02626;
}

.greeting .btn-group a:hover {
  padding: 8px 15px;
  background-color: transparent;
  border: 2px solid #c02626;
}

@media (max-width: 768px) {
  .greeting h1 {
    font-size: 20px;
    padding: 10px;
  }
  .greeting .btn-group {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.start {
  padding: 1rem 0 2rem;
}

.start h1 {
  font-weight: normal;
  position: relative;
}

.start h1::before {
  position: absolute;
  display: block;
  content: '';
  width: 60%;
  height: 2px;
  background-color: #c02626;
  bottom: 0;
  left: 20%;
}

@media (max-width: 900px) {
  .start h1 {
    font-size: 25px;
  }
}

.start-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start a {
  display: block;
  position: relative;
  margin: auto;
  width: 33.33%;
  text-align: center;
  font-size: 170px;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.start a span {
  width: 230px;
  display: block;
  margin: 1rem auto;
  font-size: 17px;
  padding: 10px 15px;
  background-color: #c02626b6;
  color: #fff;
}

.start a span:hover {
  background-color: #c02626;
}

@media (max-width: 768px) {
  .start-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .start a {
    width: 100%;
    margin-bottom: 2rem;
  }
  .start a span {
    width: 165px;
    margin: 1rem auto;
    font-size: 15px;
    padding: 10px 15px;
  }
}

@-webkit-keyframes comin {
  0% {
    -webkit-transform: perspective(100px) rotateX(50deg) translate(-50%, 30px);
            transform: perspective(100px) rotateX(50deg) translate(-50%, 30px);
  }
  50% {
    -webkit-transform: perspective(100px) rotateX(50deg) translate(-50%, 15px);
            transform: perspective(100px) rotateX(50deg) translate(-50%, 15px);
  }
  100% {
    -webkit-transform: perspective(100px) rotateX(50deg) translate(-50%, 30px);
            transform: perspective(100px) rotateX(50deg) translate(-50%, 30px);
  }
}

@keyframes comin {
  0% {
    -webkit-transform: perspective(100px) rotateX(50deg) translate(-50%, 30px);
            transform: perspective(100px) rotateX(50deg) translate(-50%, 30px);
  }
  50% {
    -webkit-transform: perspective(100px) rotateX(50deg) translate(-50%, 15px);
            transform: perspective(100px) rotateX(50deg) translate(-50%, 15px);
  }
  100% {
    -webkit-transform: perspective(100px) rotateX(50deg) translate(-50%, 30px);
            transform: perspective(100px) rotateX(50deg) translate(-50%, 30px);
  }
}

.come-in {
  font-size: 35px;
  position: absolute;
  color: #c02626;
  bottom: 0;
  left: 50%;
  -webkit-transform: perspective(100px) rotateX(50deg) translateX(-50%);
          transform: perspective(100px) rotateX(50deg) translateX(-50%);
  -webkit-animation: comin 1s infinite linear;
          animation: comin 1s infinite linear;
}

#first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 0;
}

@media (max-width: 900px) {
  #first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.interest, .advantage {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}

.interest h1, .advantage h1 {
  font-weight: normal;
  position: relative;
}

.interest h1::before, .advantage h1::before {
  position: absolute;
  display: block;
  content: '';
  width: 60%;
  height: 2px;
  background-color: #c02626;
  bottom: 0;
  left: 20%;
}

@media (max-width: 900px) {
  .interest h1, .advantage h1 {
    font-size: 25px;
  }
}

.interest table, .advantage table {
  width: 85%;
  margin: 0 auto;
}

.interest-item {
  -webkit-box-shadow: 0 0 3px 0 #5858585d;
          box-shadow: 0 0 3px 0 #5858585d;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.interest-item img {
  width: 80px;
}

.interest-item td {
  font-size: 17px;
  padding: 15px;
  margin: auto 0;
}

.interest-item:hover {
  -webkit-box-shadow: 0 0 5px 0 #585858;
          box-shadow: 0 0 5px 0 #585858;
}

@media (max-width: 900px) {
  .interest, .advantage {
    width: 100%;
  }
  .interest table, .advantage table {
    width: 100%;
  }
  .interest-item img {
    width: 50px;
  }
  .interest-item td {
    font-size: 15px;
    padding: 10px;
  }
}

.advantage {
  text-align: center;
}

.advantage-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantage-list-group {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage-list-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.advantage-list-item img {
  width: 27%;
  margin-bottom: 10px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  scroll-behavior: smooth;
}

#html {
  overflow: hidden;
}

.body {
  font: 17px/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17% 83%;
      grid-template-columns: 17% 83%;
      grid-template-areas: "nav main";
}

.body.hide {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "main";
}

@media (max-width: 900px) {
  .body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "main";
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  margin: -50px 0 0 -50px;
  padding: 50px;
  border-radius: 100%;
  color: #ffffff;
  border: 8px solid #c5c5c5;
  border-left: 8px solid #c02626b6;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  overflow: hidden;
  z-index: 9999999;
}

.loading * {
  display: none;
}

/* menu ======================= */
.menu {
  background-color: #ffffff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  position: fixed;
  overflow: hidden scroll;
  height: 100%;
  width: 17%;
  opacity: 1;
  -webkit-box-shadow: 0 0 3px 0 #646464;
          box-shadow: 0 0 3px 0 #646464;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu .active {
  background-color: #c02626;
  color: #fff !important;
}

.menu::-webkit-scrollbar-thumb {
  background-color: #646464;
}

.menu::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.menu::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff;
}

.menu.hide {
  opacity: 0;
  width: 0;
}

@media (max-width: 900px) {
  .menu {
    opacity: 0;
    width: 0;
  }
  .menu.hide {
    opacity: 1;
    width: 100%;
  }
}

.header {
  text-align: center;
  margin-top: 1em;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.header .logo img {
  max-width: 50px;
  margin-right: 10px;
}

.header .header-title {
  font-size: 20px;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #c02626;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.header .header-title:hover {
  color: #c02626;
}

hr {
  width: 100%;
}

.search-form {
  width: 100%;
  margin: 1rem auto;
}

.search-form input {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 10px 7px;
  border-radius: 100px;
}

.intro,
.item,
.sub .sub-item {
  font-weight: bold;
  padding: 1em 0 1em 1em;
  margin: auto;
  display: block;
  width: 100%;
  text-decoration: none;
}

.intro:visited,
.item:visited,
.sub .sub-item:visited {
  color: initial;
}

.intro:hover,
.item:hover,
.sub .sub-item:hover {
  background-color: #c02626b6;
  color: #ffffff;
}

.sub {
  background-color: #f1f1f1;
}

.sub .sub-item {
  padding-left: 25px;
  font-weight: 300;
}

.sub .sub-item:visited {
  color: initial;
}

.sub .sub-item:hover {
  background-color: #c02626b6;
  color: #ffffff;
}

#copyright {
  text-align: center;
}

/* main ======================= */
#main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#embed {
  width: 100%;
  height: 101vh;
}

#collapse-btn {
  display: block;
  position: absolute;
  padding: .7rem .963rem;
  text-align: center;
  color: #fff;
  background-color: #c02626b6;
  border-radius: 50%;
  top: 2%;
  left: 18%;
  z-index: 999;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#collapse-btn.change {
  left: 1%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 900px) {
  #collapse-btn {
    left: 1%;
  }
}

@media (max-width: 768px) {
  #collapse-btn {
    top: 2%;
    left: 83%;
  }
}
/*# sourceMappingURL=style.css.map */