@import "content";
@import "overview";
@import "first";

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  outline: 0;
  scroll-behavior: smooth;
}
#html {overflow: hidden;}

.body {
  font: 17px/1.5 Arial, Helvetica, sans-serif;
  margin: 0;
	display: grid;
	grid-template-columns: 17% 83%;
  grid-template-areas: "nav main";

  &.hide {
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }

  @include breakpoint(tablet) {
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
  margin: -50px 0 0 -50px;
  padding: 50px;
  border-radius: 100%;
  color: #ffffff;
  border: 8px solid #c5c5c5;
  border-left: 8px solid $red-color-blur;
  animation: spin 2s linear infinite;
  overflow: hidden;
  z-index: 9999999;

  & * {
    display: none;
  }
}

/* menu ======================= */
.menu {
	background-color: #ffffff;
	grid-area: nav;
  position: fixed;
	overflow: hidden scroll;
	height: 100%;
  width: 17%;
  opacity: 1;
  box-shadow: 0 0 3px 0 #646464;
  transition: all 0.3s;

  .active {
    background-color: $red-color;
    color: #fff !important;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #646464;
  }

  &::-webkit-scrollbar-track {
    background-color: #ffffff;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #ffffff;
  }

  &.hide {
    opacity: 0;
	  width: 0;
  }

  @include breakpoint(tablet) {
    opacity: 0;
	  width: 0;

    &.hide {
      opacity: 1;
      width: 100%;
    }
  }
}

.header {
  text-align: center;
  margin-top: 1em;

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    img {
      max-width: 50px;
      margin-right: 10px;
    }
  }
  
  .header-title {
    font-size: 20px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    user-select: none;
    color: $red-color;
    margin-block-start: 0;
    margin-block-end: 0;

    &:hover {
      color: $red-color;
    }
  }
  
}

hr {
  width: 100%;
}

.search-form {
  width: 100%;
  margin: 1rem auto;

  input {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 10px 7px;
    border-radius: 100px;

  }
}

.intro,
.item {
  font-weight: bold;
  padding: 1em 0 1em 1em;
	margin: auto;
	display: block;
	width: 100%;
  text-decoration: none;
  
  &:visited {
    color: initial;
  }
  
  &:hover {
    background-color: $red-color-blur;
    color: #ffffff;
  }
}

.sub {
  background-color: #f1f1f1;

  .sub-item {
    @extend .item;
    padding-left: 25px;
    font-weight: 300;

    &:visited {
      color: initial;
    }
  
    &:hover {
      background-color: $red-color-blur;
      color: #ffffff;
    }
  }
}

#copyright {
  text-align: center;
}
/* main ======================= */

#main {
  grid-area: main;
  transition: all 0.3s;
}

#embed {
	width: 100%;
  height: 101vh;
  
}

#collapse-btn {
  display: block;
  position: absolute;
  padding: .7rem .963rem;
  text-align: center;
  color: #fff;
  background-color: $red-color-blur;
  border-radius: 50%;
  top: 2%;
  left: 18%;
  z-index: 999;
  transition: all .3s;

  &.change {
    left: 1%;
    transform: rotate(180deg);
  }

  @include breakpoint(tablet) {
    left: 1%;
  }

  @include breakpoint(small) {
    top: 2%;
    left: 83%;
  }
}